body
{
    color:blue;
}

textarea{

    color:gray;
}

.btn-xlbtn-xl {
    color: red;
    background-color: burlywood;
    border-style: none;
}

input[type="text"]{
    color:black;

}

.lb-lg{
    font-size: 20px;
}

*{
    font-size:20px;
    line-height: 2;
}